#root {
  margin: 0 auto;
  text-align: center;
  background-image: url("../src/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

body {
  /* background-color: rgba(0, 0, 255, 0.555); */
  margin: 0;
}

.App {
  padding: 5rem;
}

#shadow {
  background-image: linear-gradient(
    to bottom right,
    rgba(54, 54, 235, 0.527),
    rgba(255, 0, 0, 0.26)
  );
  width: 100%;
  min-height: 100vh;
}


#methods-select {
  width: 20rem;
  margin-top: 4rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.74);  
}

#methods-select option {
  width: 20rem;
  margin-bottom: 2rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.74);  
}

#options-div {
  width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  width: 100%;

  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.74);
}

#main {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
 
  justify-content: center;
}

.championCard {
  width: 45%;
  margin-left: 3rem;
  margin-bottom: 3rem;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px black;
  display: flex;
  background-color: orange;
  align-items: center;
}

#champion-card-id-0, #champion-card-id-1 {
  margin-top: 3rem;
}

#championCard img {
  width: auto;
  height: 20rem;
}

#champion-infos {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.753);
  height: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#delete-div {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
